<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifrj.pibic.teclingo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.LoginActivity"
            android:label="@string/login_label"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.CadastroActivity"
            android:parentActivityName="com.ifrj.pibic.teclingo.activities.LoginActivity" />
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.CadastroBaralhoActivity"
            android:label="Criar um Baralho"
            android:parentActivityName="com.ifrj.pibic.teclingo.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.BaralhoActivity"
            android:label="Página de Baralho"
            android:parentActivityName="com.ifrj.pibic.teclingo.activities.MainActivity" />
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.EsqueceuSenhaActivity"
            android:label="Esqueceu a senha"
            android:parentActivityName="com.ifrj.pibic.teclingo.activities.LoginActivity" />
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.BaralhosUsuarioActivity"
            android:parentActivityName="com.ifrj.pibic.teclingo.activities.MainActivity" />
        <activity
            android:name="com.ifrj.pibic.teclingo.activities.FeedbackActivity"
            android:parentActivityName="com.ifrj.pibic.teclingo.activities.MainActivity" />
        <activity android:name="com.ifrj.pibic.teclingo.activities.PraticarBaralho" />
        <activity android:name="com.ifrj.pibic.teclingo.activities.CadastroCartasActivity"></activity>
    </application>

</manifest>